
*.agdai

Algebra.agda

Algebra/

Category/

Universe.agda

Data/

Category/

Coinduction.agda

Data/

Function/

IO/

Foreign/

Induction/

Relation/
Function.agda

Induction.agda

IO.agda

Irrelevance.agda

Level.agda

Record.agda

Reflection.agda

Size.agda
